header {
    background-color :rgb(15, 13, 13);
    color: #fff;
    padding: 15px;
    text-align: center;
    height: 50vh;
    opacity: 0.8;
   
}
body {
    background-color: black;
}

header em {
   
    color: crimson;
}
#title{
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    align-items: center;
    height: fit-content;
}
#title em{
    padding-top: 20px;
}
#enter-btn{
    background-color: #0f0e0e;
    color: rgb(85, 26, 37);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 20px;
    align-self: center;
}
#enter-btn:hover{
    background-color: rgb(219, 106, 14);
    color: #fff;
}

main{
    align-items: center;
    align-self: center;
    text-align: center;
    padding: 20px;
    display: none;
}
#access{
    display: none;
     height: 50vh;
     background-color: rgb(85, 26, 37);
     align-items: center;
}
#demotitle{
    
    font-weight: bold;
    color: #F8F805;
    text-shadow: 2px 2px 4px #000000;
    align-items: center;
    align-items: center;
    height: fit-content;
}
#demoh2{
   
    font-weight: bold;
    color: #A79429;
    text-shadow: 2px 2px 4px #000000;
    align-items: center;
    height: fit-content;
}
#demo{

    font-size: 1.5em;
    font-weight: bold;
    color: #967979;
    text-shadow: 2px 2px 4px #000000;
    align-items: center;
    height: fit-content;
    
}
footer{
    background-color: rgb(15, 13, 13);
    color: #4A5575;
    padding: 15px;
    text-align: center;
    height: 50vh;
    opacity: 0.8;
}